In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [16]:
df= pd.read_csv('housing.csv')
df.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Avg. Area Income              5000 non-null   float64
 1   Avg. Area House Age           5000 non-null   float64
 2   Avg. Area Number of Rooms     5000 non-null   float64
 3   Avg. Area Number of Bedrooms  5000 non-null   float64
 4   Area Population               5000 non-null   float64
 5   Price                         5000 non-null   float64
 6   Address                       5000 non-null   object
dtypes: float64(6), object(1)
memory usage: 273.6+ KB

In [27]:
 from sklearn.linear_model  import LinearRegression

In [40]:
# choosing the dep and independ vars
X= df.iloc[:, 0:5]
y= df.iloc[:, 5]

In [ ]:
X= np.log2(X)

In [42]:
y= np.log2(y)

In [43]:
# Create a linear regression object
lm = LinearRegression()

In [44]:
# fit the linear regression model
lm.fit(X, y)

LinearRegression()

In [45]:
print('The Value of the Intercept is {:.7f}:' , format(lm.intercept_))

The Value of the Intercept is {:.7f}: -11.559316096191665

In [51]:
list(zip(df.columns[0:], lm.coef_))

[('Avg. Area Income', 1.3058629394702812),
 ('Avg. Area House Age', 0.8744146419876312),
 ('Avg. Area Number of Rooms', 0.7492945587342114),
 ('Avg. Area Number of Bedrooms', 0.0050589637947115905),
 ('Area Population', 0.4263254695885954)]

In [60]:
for var, coef in list(zip(df.columns[0:], lm.coef_)):
    print('The {0:7s} value  is: {1:8.7f}'.format(var,coef))

The Avg. Area Income value  is: 1.3058629
The Avg. Area House Age value  is: 0.8744146
The Avg. Area Number of Rooms value  is: 0.7492946
The Avg. Area Number of Bedrooms value  is: 0.0050590
The Area Population value  is: 0.4263255

In [61]:
results = pd.DataFrame(list(zip(df.columns[0:], lm.coef_)), 
             columns=["Variable", "Coefficient"])
results

                       Variable  Coefficient
0              Avg. Area Income     1.305863
1           Avg. Area House Age     0.874415
2     Avg. Area Number of Rooms     0.749295
3  Avg. Area Number of Bedrooms     0.005059
4               Area Population     0.426325

In [63]:
y_pred= lm.predict(X)

In [64]:
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

In [65]:
print('The R2 is :{:.4f}' .format(r2_score(y_pred, y)))

The R2 is :0.8058

In [66]:
print('The Mean Absolute Error is :{:.4f}' .format(mean_absolute_error(y_pred, y)))

The Mean Absolute Error is :0.1271

In [68]:
print('The RMSE is :{:.4f}' .format(np.sqrt(mean_squared_error(y, y_pred))))

The RMSE is :0.1958

# Train-Test and Model Validation¶

In [69]:
from sklearn.model_selection import train_test_split

In [70]:
X_train, X_test, y_train, y_test= train_test_split( X, y, 
                                                   test_size=0.2, 
                                                   random_state=1711)

In [71]:
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(4000, 5) (1000, 5) (4000,) (1000,)

In [72]:
Lm= LinearRegression()

In [73]:
Lm.fit(X_train, y_train)

LinearRegression()

In [77]:
pred_train= lm.predict(X_train)
pred_test= lm.predict(X_test)

In [78]:
print('The R2 is : {:0.5f}'.format(r2_score(pred_train, y_train)))

The R2 is : 0.79421

In [79]:
print('The R2 is : {:0.5f}'.format(r2_score(pred_test, y_test)))

The R2 is : 0.85291

In [80]:
print('The R2 is : {:0.5f}'.format(mean_absolute_error(pred_train, y_train)))

The R2 is : 0.12884

In [81]:
print('The R2 is : {:0.5f}'.format(mean_absolute_error(pred_test, y_test)))

The R2 is : 0.12027

In [82]:
print('The R2 is : {:0.5f}'.format(np.sqrt(mean_squared_error(pred_train, y_train))))

The R2 is : 0.20201

In [83]:
print('The R2 is : {:0.5f}'.format(np.sqrt(mean_squared_error(pred_test, y_test))))

The R2 is : 0.16857